{% extends "base.html" %}

{% load humanize %}

{% block content %}
    <h1 class="subtitle"> {{ profile.user.username }} &gt; {{ project.name|title }} </h1>
    <table> 
        <tr><th> Top Contributors </th></tr>
        {% for points, project_user in commits|slice:"20" %}
            <tr><td> 
                <img class="avatar-small" src="{{ project_user.profile.avatar_url }}" />
                <a href="{% url gitawesome_user project_user.profile.slug %}">{{ project_user.username }}</a></td><td class="right">{{ points|intcomma }}
            </td></tr>
        {% endfor %}
    </table>
{% endblock content %}
