{% extends "base.html" %}

{% load humanize %}

{% block section_id %}project{% endblock section_id %}
{% block content %}
    <header>
        <hgroup>
            <h1>{{ project.name|title }}</h1>
            <h2>{{ profile.user.username }}</h2>
        </hgroup>
    </header>

    <section id="contributors-list">

        <article id="contributors">
            <header>
                <h2>Contributors</h2>
            </header>
            <table>
                <tr>
                    <th class="contributor">Contributor</th>
                    <th class="points">Points</th>
                </tr>    
            {% for points, project_user in commits|slice:"20" %}
                <tr class="{% cycle "even" "odd" %}">
                    <td> 
                        <img class="avatar-small" src="{{ project_user.profile.avatar_url }}" />
                        <a href="{% url gitawesome_user project_user.profile.slug %}">{{ project_user.username }}</a></td>
                    <td class="points">
                        <div><span>{{ points|intcomma }}</span></div></td>
                </tr>
            {% endfor %}
            </table>
        </article>
        
    </section>
{% endblock content %}
