{% extends "base.html" %}

{% load humanize %}
{% load gitawesome_extras %}

{% block section_id %}project{% endblock section_id %}
{% block content %}
    <header id="project-details">
        <hgroup>
            <h1>{{ project.name|title }}</h1>
            <h2>{{ profile.user.username }}</h2>
        </hgroup>
    </header>

    <section id="contributors-list">
        <article id="top-contributors">
            <header>
                <h2>Top Contributors</h2>
            </header>
            <ul>
                {% for points, project_user in commits|slice:"5" %}
                <li>
                    <img src="{{ project_user.profile.avatar_url }}" />
                    <a href="{% url gitawesome_user project_user.profile.slug %}">{{ project_user.username }}</a>
                    <div><span>{{ points|intcomma }}</span></div>
                </li>
                {% endfor %}
            </ul>
        </article>

        <article id="contributors">
            <header>
                <h2>Contributors</h2>
            </header>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Points</th>
                </tr>    
            {% for points, project_user in commits|slice:"5:15" %}
                <tr class="{% cycle "even" "odd" %}">
                    <td class="name"> 
                        <img src="{{ project_user.profile.avatar_url }}" />
                        <a href="{% url gitawesome_user project_user.profile.slug %}">{{ project_user.username }}</a></td>
                    <td class="points">
                        <div><span>{{ points|intcomma }}</span></div></td>
                </tr>
            {% endfor %}
            </table>
        </article>
        
    </section>
{% endblock content %}
