{% extends "base.html" %}


{% block section_id %}repo{% endblock section_id %}
{% block content %}
    <header id="add-repo">
        <hgroup>
            <h1>Add a Repo</h1>
        </hgroup>
    </header>

    <section id="form">
        <article>
            <form method="POST"  action="{% url gitawesome_repo %}">
                {% csrf_token %}

                {{ repo_form.as_p }}

                <button type="submit">Add Repo</button>
            </form>
        </article>
    </section>
{% endblock content %}
