{% extends "base.html" %}

{% load humanize %}

{% block content %}
    <h3><img src="{{ profile.avatar_url }}" /> {{ profile.user.username }}&rsquo;s Scorecard</h3>
    <dl>
        <dt>Yards</dt><dd> {{ profile.yards|intcomma }} </dd>
        <dt>Plays</dt>
        {% for project, commits in commits_by_project %}
            <dd><a href="{% url gitawesome_project profile.slug project.slug %}">{{ project.name }}</a> ({{ commits|length }}) </dd>
            {% for c in commits|slice:"10" %}
                <dd>&nbsp;&nbsp;&nbsp;<a href="{{ c.get_github_url }}">{{ c.sha|slice:"10" }}</a> - {{ c.yards }} yard{{ c.yards|pluralize }} </dd>
            {% endfor %}
            {% if commits|length > 10 %} &hellip; {% endif %}
        {% endfor %}
    </dl>
{% endblock content %}
