<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]>
<!-->
<html lang="en" class="no-js"> 
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>Gitawesome</title>
	<meta name="description" content="gitawesome is a fun way to look at your contribution to open source projects.">
	<meta name="author" content="Team Ruckus">
	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">
	<link rel="apple-touch-icon" href="{{ STATIC_URL }}img/apple-touch-icon.png">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css?v=2">

	<script src="{{ STATIC_URL }}js/libs/modernizr-1.7.min.js"></script>
</head>
<body id="{% block body_id %}{% endblock body_id %}">

    <div id="container">
        
        <header id="masthead">
            <div class="wrapper">
                <h1 id="branding">gitawesome</h1>
                
                <nav>
                    <ul>
                        {% if request.user.is_authenticated %}
                            <li><a href="{% url gitawesome_home %}">{{ request.user.username }}</a> |</li>
                            <li><a href="{% url github_logout %}">logout</a></li>
                        {% else %}
                            <li><a href="{% url github_login %}">login</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>
        
        <article id="{% block section_id %}{% endblock section_id %}" class="group">
            <div class="wrapper">
                {% block content %}{% endblock content %}
            </div>
        </article>

        <div class="push"></div>
    </div>

    <footer id="credits">
        <div class="wrapper">
            <p>Created by <a href="http://twitter.com/_macro">Neil Chintomby</a> and <a href="http://twitter.com/adamkirkwood/">Adam Kirkwood</a> for Django Dash 2011.</p>
        </div>
        
        {% block extra_footer %}{% endblock extra_footer %}
    </footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
	<script>!window.jQuery && document.write(unescape('%3Cscript src="{{ STATIC_URL }}js/libs/jquery-1.5.1.min.js"%3E%3C/script%3E'))</script>

	<script src="{{ STATIC_URL }}js/plugins.js"></script>
	<script src="{{ STATIC_URL }}js/script.js"></script>

	<!--[if lt IE 7 ]>
	<script src="{{ STATIC_URL }}js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2238113-8']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

</body>
</html>
